<!DOCTYPE html>

<!--====
    source: https://v3.bootcss.com/examples/carousel/
===-->

<html lang="en">

  <head data-dir="{{:dir}}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico">

    <title>XYZ | Select Species</title>

    <!-- Bootstrap core CSS -->
    <link href="{{:dir}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{:dir}}/vendor/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{:dir}}/vendor/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{{:dir}}/vendor/bootstrap/css/speciesinfo.css" rel="stylesheet">
  </head>

<!-- NAVBAR
================================================== -->
  <body>

    <div class="container-login100" style="background-image: url('{{:dir}}/img/666.jpg');">
      
      <div class="navbar-wrapper">
          <div class="container">
              <nav class="navbar navbar-custom">
                  <div class="container">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Big Butterfly Count</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                          <li><a href="{{:dir}}/home">Home</a></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                <li><a href="{{:dir}}/guide">Tutorial</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Account</li>
                                <li><a href="{{:dir}}/login">Log in</a></li>
                                <li><a href="{{:dir}}/register">Register</a></li>
                              </ul>
                          </li>
                          <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>

                  </div>
              </nav>
          </div>
      </div>

      <div class="card">
      
        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
      
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img class="first-slide" src="{{:dir}}/img/butterfly/lwhite/1.jpg" alt="First slide">
              </div>
      
              <div class="item">
                <img class="second-slide" src="{{:dir}}/img/butterfly/lwhite/2.jpg" alt="Second slide">
              </div>
      
              <div class="item">
                <img class="third-slide" src="{{:dir}}/img/butterfly/lwhite/3.jpg" alt="Third slide">
              </div>
      
              <div class="item">
                  <img class="fourth-slide" src="{{:dir}}/img/butterfly/lwhite/4.jpg" alt="Fourth slide">
              </div>

              <div class="item">
                  <img class="fifth-slide" src="{{:dir}}/img/butterfly/lwhite/5.jpg" alt="Fifth slide">
              </div>
            </div>
      
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
      
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      
        </div><!-- /.carousel -->
        

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            
          <div class="s-intro">
            <br>
            <div class="container-species100-form-btn p-t-10">
                <a class="species100-form-btn" href="{{:dir}}/form">
                 I Seen it!
                </a>
            </div>
          
          <br>
          <h2 class="s-heading">Large White</h2>
          <h4 class="s-heading" style="font-style: oblique">Pieris brassicae</h4><br>
          <p class="s-body" style="font-size: larger"> A large, strong flying butterfly. The brilliant white wings have black tips to the forewings, extending down the wing edge. Females have two spots on the forewings, which is not present in males. The undersides are a creamy white with two spots. </p>
          <br>
          <p class="s-heading2" > Size and Family </p>
          <p class="s-body" style="font-size: larger"> &middot; Family: Whites and yellows </p>
          <p class="s-body" style="font-size: larger"> &middot; Size: Large </p>
          <p class="s-body" style="font-size: larger"> &middot; Wing Span Range (male to female):  63-70mm </p>
          <br>
          <p class="s-heading2"> Conservation Status </p>
          <p class="s-body" style="font-size: larger"> &middot; Butterfly Conservation priority: Low </p>
          <p class="s-body" style="font-size: larger"> &middot; European status: Not threatened </p>
          <br>
          <p class="s-heading2"> Caterpillar Foodplants </p>
          <p class="s-body" style="font-size: larger"> The larvae feed on wild or cultivated species of the Cruciferae family, with a strong preference for cultivated varieties of Brassica oleracea, such as Cabbage and Brussel-sprouts and varieties of B. napus such as Oil-seed Rape. Nasturtium (Tropaeolum majus) and Wild Mignonette (Reseda lutea) are also used, as is Sea-Kale (Crambe maritima) along the coast. </p>
          <br>
          <p class="s-heading2"> Lifecycle </p>
          <img class="img" src="{{:dir}}/img/butterfly/lwhite/6.jpg" width="100%" height="100%">
          <br><br>
          <p class="s-heading2"> Habitat </p>
          <p class="s-body" style="font-size: larger"> This common butterfly is found in a variety of habitats, particularly gardens and allotments where cabbages are grown. </p>
          <br>
          </div>

        </div>
      </div>
      <div class="container marketing">
          <br><br>
          <!-- FOOTER -->
          <footer>
              <p class="pull-right"><a href="#">Back to top</a></p>
              <p>&copy; &middot; <a href="#">Geolytix</a> &middot; </p>
          </footer>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{:dir}}/vendor/bootstrap/js/jquery.min.js"></script>
    <script src="{{:dir}}/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{:dir}}/vendor/bootstrap/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{:dir}}/vendor/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
  </body>


</html>
