option_settings:
  - option_name: DIR
    value: "/test"
  - option_name: ALIAS
    value: 
  - option_name: HTTP
    value: "http"
  - option_name: PUBLIC
    value: "postgres://Anke:sskk19960310@xyzpostgres.cionijb4rp45.eu-west-2.rds.amazonaws.com:5432/xyzpg|acl"
  - option_name: PRIVATE
    value: 
  - option_name: SECRET
    value: 
  - option_name: TRANSPORT
    value: 
  - option_name: WORKSPACE
    value: "file://dev.json"
  - option_name: DBS_XYZ
    value: "postgres://Anke:sskk19960310@xyzpostgres.cionijb4rp45.eu-west-2.rds.amazonaws.com:5432/xyzpg"
  - option_name: CLOUDINARY
    value: "277687325352552 Oe4aM7xx6RzK4KJjQCkyTvakjcU ucl samples"
  - option_name: KEY_GOOGLE
    value: 
  - option_name: KEY_HERE
    value: 
  - option_name: KEY_MAPBOX
    value:
  - option_name: DEBUG
    value: "true"
  - option_name: LOG_LEVEL
    value: "info"
  - option_name: DESKTOP_TEMPLATE
    value: "http://localhost:3000/test/views/form.html"